<!DOCTYPE html>
<html>
<head>
  <title>ZHIXIAN WANG</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "datouwang", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.8.3.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "koala.min.1.5", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <%= render :partial => 'layouts/header' -%>
  <div class="wrap clearfix">
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/footer' -%>
</div>

</body>
</html>
