<!DOCTYPE html>
<html>
<head>
  <title>Zxwang</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <%= render :partial => 'layouts/header' -%>
  <div class="inner wrap clearfix">
    <div class="sidebar"><%= render :partial => 'layouts/left' -%></div>
    <div class="content clearfix"><%= yield %></div>
  </div>
  <%= render :partial => 'layouts/footer' -%>
</div>

</body>
</html>
